// Colors
$white: #FFFFFF;
$grey-100: #EEEEEE;
$grey-200: #CCCCCC;
$grey-300: #999999;
$black-100: #212122;
$orange-100: #FF7800;
$orange-200: #D45A00;

// Fonts
$helvetica: 'Helvetica Neue', sans-serif;

$font-300: 300;
$font-400: 400;
$font-700: 700;

$normal: $font-400;
$light: $font-300;
$bold: $font-700;
